<div class="m-2 d-flex justify-content-evenly">
    <div class="row">
        <div class="col-12">
            <form action="index.php?view=api/user/login" method="post">
                <label for="login">Identifiant</label>
                <input type="text" id="login" name="login" required class="form-control">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required class="form-control">
                <input type="submit" value="Se connecter" class="btn btn-info mt-2">
            </form>
        </div>
    </div>
</div>