<div class="container mt-3">
	<form action="index.php?view=api/user/create" method="post" enctype="multipart/form-data">
		<div class="row jumbotron box8">
			<div class="col-sm-12 mx-t3 mb-4">
				<h2 class="text-center text-primary">Create an account</h2>
			</div>
			<div class="col-sm-6 form-group">
				<label for="login">Login</label>
				<input type="text" id="login" name="login" placeholder="Enter your login" class="form-control" required>
			</div>
			<div class="col-sm-6 form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Enter your password"
					class="form-control" required>
			</div>
			<div class="col-sm-6 form-group">
				<label for="lastname">Last Name</label>
				<input type="lastname" id="lastname" name="lastname" placeholder="Enter your lastname"
					class="form-control" required>
			</div>
			<div class="col-sm-6 form-group">
				<label for="firstname">First Name</label>
				<input type="firstname" id="firstname" name="firstname" placeholder="Enter your firstname"
					class="form-control" required>
			</div>
			<div class="col-sm-6 form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="Example@gmail.com" class="form-control"
					required>
			</div>
			<div class="col-sm-6 form-group">
				<label for="birthdate">Date of birth</label>
				<input type="date" id="birthdate" name="birthdate" class="form-control">
			</div>
			<div class="col-sm-6 form-group">
				<label for="address">Adress</label>
				<input type="address" id="address" name="address" placeholder="Locality/House/Street no."
					class="form-control">
			</div>
			<div class="col-sm-2 form-group">
				<label for="postalcode">Postal code</label>
				<input type="postalcode" id="postalcode" name="postalcode" placeholder="Ex: 5000" min="0" max="9999" class="form-control">
			</div>
			<div class="col-sm-6 form-group">
				<label for="countriesList">Choose a country</label>
				<select name="countries" id="countries" class="form-control">
					<option value="">Choose a country</option>
				</select>
			</div>
			<div class="col-sm-6 form-group">
				<label for="nationality">Nationality</label>
				<input type="nationality" id="nationality" name="nationality" placeholder="Enter your nationality"
					class="form-control">
			</div>
			<div class="col-sm-6 form-group">
				<label for="phonenumber">Numéro de téléphone</label>
				<input type="text" id="phonenumber" name="phonenumber" placeholder="ex: 04 534 845 32"
					class="form-control">
			</div>
			<div class="col-sm-6 form-group">
				<label for="lang">Language</label>
				<select name="lang" id="lang" class="form-control" required>
					<option value="en" selected>English</option>
					<option value="fr">Français</option>
				</select>
			</div>
			<div class="col-sm-6 form-group">
				<label for="photo>">Profile photo</label></p>
				<input type="file" id="photo" name="photo"></p>
			</div>
			<div class="col-sm-12 form-group mb-0">
				<button class="btn btn-primary float-right">Submit</button>
			</div>
		</div>
	</form>
</div>