<!-- <div class="include-admin-menu"></div>
<ul>
    <li><a href="index.php?view=api/user/usersList">Gérer les utilisateurs</a></li>
    <li><a href="index.php?view=view/admin/courses">Gérer les formations et les cours</a></li>
</ul> -->